<div class="p-4 flex flex-row justify-center">
    <a class="px-6 text-gray-400" href="/">Home</a>
    <a class="px-6 text-gray-400" href="/bookmarks">Bookmarks</a>
</div>

<div class="mt-6">
    <h1 class="text-2xl sm:text-4xl text-center">Books Recommendation Engine</h1>
    <p class="text-center text-gray-400 mt-2">Random <i>top-rated</i> Movie Finder</p>
</div>

<slot></slot>

<style>

    @tailwind base;
    @tailwind components;
    @tailwind utilities;

</style>