<script>

</script>

<div class="w-full h-full flex flex-row justify-center">

    <main style="max-width: 1750px" class="xl:mx-52 mt-12 flex flex-col justify-center items-center">

        <div>


        </div>
    
    </main>

</div>

<style>


</style>