<script>

    import { afterUpdate, onMount } from "svelte";

    import { movies, getTop } from "../stores/top"

    import Movie from "../components/Movie.svelte"
    import Paginator from "../components/Paginator.svelte"
    import Search from "../components/Search.svelte"

    let page = 1
    let search

    onMount(() => {
        getTop(1)
    })

    $: {
        getTop(page)
    }

</script>

<div class="w-full h-full flex flex-col items-center justify-center">

    <div class="w-full mt-12">
        
        <Search search={ search }/>
    
    </div>
    
    <main style="max-width: 1750px" class="xl:mx-52 mt-6 flex justify-center flex-wrap">

        { #each $movies as movie }
    
            <Movie movie={ movie }/>
    
        { /each }
    
    </main>

</div>

<div class="flex flex-row justify-center">
    <Paginator bind:page={ page }/>
</div>
