<script>
    import { afterUpdate } from "svelte";

    export let movie

    let image
    let img_h
    let marked = 'fas'
    let inverted = ''

    let displayImage = 'hidden'
    // let displayImage = 'bg-gray-300'

    function bookmarker() {
        marked == 'far' ? marked = 'fas' : marked = 'far'
    }

    function getPixel(url, x, y) {
        
        let img = new Image();
        img.crossOrigin = "Anonymous";
        img.src = url;
        
        let canvas = document.createElement('canvas');
        let context = canvas.getContext('2d');
        context.drawImage(img, 0, 0);
    
        let rgb = context.getImageData(x, y, 1, 1).data
        
        let hsp = Math.sqrt(
                0.299 * (rgb[0] * rgb[0]) +
                0.587 * (rgb[1] * rgb[1]) +
                0.114 * (rgb[2] * rgb[2])
                );

        if(hsp > 127.5) {
            console.log('light')
            inverted = ''
        } else {
            console.log('dark')
            inverted = 'icon-invert'
        }

        console.log( context.getImageData(x, y, 1, 1).data )
        return context.getImageData(x, y, 1, 1).data;
    }

    afterUpdate( () => {
        // getPixel(movie.poster, 1, 1);
        console.log('HELLO')
        displayImage = ''
        // displayImage = 'bg-gray-300'
    })

    // $: {
    //     getPixel(movie.poster, 1, 1)
    // }

</script>

<div class="flex justify-center flex-row m-2 sm:m-5">
            
    <div class="w-32 sm:w-48">
        
        <div bind:clientHeight={ img_h } class="w-full shadow">
            <img bind:this={ image } class="object-cover" style="min-height: { img_h }" src={ movie.poster } alt="Movie poster">

            <div class="absolute w-fill h-full inset-0 { displayImage }">

                <div class="ml-2 cursor-pointer inline-block" on:click={ () => { bookmarker(); } }>
                    <!-- <Fa size="lg" icon={faBookmark}/> -->
                    <i style="padding: 0" class="{ inverted } fas fa-bookmark"></i>
                </div>

            </div>
        </div>

        <p class="text-center text-sm font-bold pt-2 h-8 truncate"> { movie.title } </p>
        <p class="text-center text-xs text-gray-400"> { movie.release_date } </p>

    </div>

</div>

<style>

    .icon-invert { 
        -webkit-filter: invert(100%); 
        filter: invert(100%);
    }

</style>