<script>

    export let page

    function paginate(forward) {
        if(forward) {
            page++
        } else {
            if(page != 0) {
                page--
            }
        }
    }

</script>

<div class="mx-52 my-6 flex flex-row justify-center">

    <button on:click={ () => { paginate(false) } } class="hover:bg-gray-300 px-2 py-1 border border-gray-300 rounded-tl-sm rounded-bl-sm">
        <i class="icon-invert fas fa-arrow-left"></i>
    </button>
    
    <input type="number" bind:value={ page } class="w-10 border-t border-b border-gray-300 text-center focus:outline-none">

    <button on:click={ () => { paginate(true) } } class="hover:bg-gray-300 px-2 py-1 border border-gray-300 rounded-tr-sm rounded-br-sm">
        <i class="icon-invert gray-300 fas fa-arrow-right"></i>
    </button>

</div>

<style>

    div button:hover > .icon-invert { 
        -webkit-filter: invert(100%); 
        filter: invert(100%);
    }

</style>