<script>

    export let search = ''
    let placeholder = 'Search movie titles, actors, genres...'

    let searchBarWidth
    let faviconWidth
    let searchBarPosition = 'zero-height'

    $: {
        (search.length > 2) ? searchBarPosition = 'auto-height' : searchBarPosition = 'zero-height'
    }

</script>

<div class="flex flex-col justify-center items-center">
    
    <div class="w-full flex justify-center">
        <i bind:clientWidth={ faviconWidth } class="hidden sm:inline p-3 fas fa-search"></i>
        <div class="sm:max-w-lg mx-6 sm:mx-1 w-full" bind:clientWidth={ searchBarWidth }>
            <input bind:value={ search } class="w-full p-2 shadow rounded-md bg-gray-100 placeholder-gray-400  focus:ring-2 focus:ring-gray-500 outline-none" type="text" placeholder={ placeholder }>
        </div>
    </div>

    <div class="relative w-full items-center" style="width: { searchBarWidth }px; margin-left: { faviconWidth }px">
        <div style="width: { searchBarWidth }px;" class="{ searchBarPosition } absolute overflow-hidden height-transition z-10 flex flex-col justify-center items-center bg-gray-100 mt-2 shadow rounded-md">
            <div class="h-full w-full border-dotted border-2 border-gray-500 text-center">
                <p class="py-2"> Movie one </p>
                <p class="py-2"> This is a 2nd movie result </p>
                <p class="py-2"> THREE </p>
                <p class="py-2"> How about a 4th? </p>
                <p class="py-2 text-sm"> Go to Search </p>
            </div>
        </div>
    </div>

</div>

<style>

    .zero-height {
        max-height: 0;
        /* visibility: hidden; */
    }

    .height-transition {
        transition: max-height 0.5s;
        /* transition: visibility 0.5s; */
    }

    .auto-height {
        max-height: 32rem;
        /* visibility: visible; */
    }

</style>